{% extends 'teacher/base.html' %}
{% block title %} Quiz Edit | E-Learning {% endblock %}

{% block page %}
<!-- page -->
<div class="page">
    <div class="container">
        <div class="">
            <div class="ua-quote register-form" style="max-width: 100%;">
                <h2>Quiz Edit</h2>
                {% if messages %}
                <ul class="form-message">
                    {% for item in messages %}
                    <li class="{{ item.tags }}"> {{ item }} </li>
                    {% endfor %}
                </ul>
                {% endif %}
                <form action="{% url 'quiz-edit' quiz_id=quiz.id course_id=course_id %}" method="post">
                    <input type="hidden" name="course" value="quiz.course">
                    {{ form | safe}}
                    <input type="submit" class="submit" value="Submit">
                </form>
            </div>
        <br>
            <a href="{% url 'quiz-delete' quiz_id=quiz.id course_id=course_id %}"><h4 style="color:#ee0000; float:right">Delete</h4></a>
        </div> <!-- ua container end -->
    </div>
</div>
{% endblock %}