{% extends 'base.html' %}
{% load static %}
{% block title %} Courselist | E-learning {% endblock %}
{% block heads %}
{% endblock %}

{% block page %}
<!-- Index Page start -->
<div class="page">
    <div class="container">
        <!-- <div class="classroom">
            <main>
                <h4>Select a Course</h4></br>
                <ol class="gradient-list">
                    {% for item in courses %}
                    <li><a href="{% url 'enroll' course_id=item.id %}" style="color: inherit;">{{item.course_title}}</a>
                    </li>
                    {% endfor %}
                </ol>
            </main>
        </div> -->
        <div class="basic-pricing">
            <h2 class="t-border-btm">Enroll a Course</h2>
            <div class="basic-pricing-wrapper">
                {% for item in courses %}
                <div class="basic-p-item b-course" onclick="location.href='{% url 'enroll' course_id=item.id %}';">
                    <div class="basic-p-item-title b-course-title">
                        <h4>{{ item.course_title }}</h4>
                    </div>
                    <div class="basic-p-item-image b-course-image">
                        <img src="{{ item.image.url }}" alt="">
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div> <!-- Index page end -->
{% endblock %}

{% block scripts %}
<!-- slider image -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"> </script>
<script>
    $(document).ready(function () {
        $(".carousel-inner").owlCarousel({
            loop: true,
            autoplay: true,
            autoplayTimeout: 3000,
            nav: false,
            responsive: {
                0: {
                    items: 1,
                },
                600: {
                    items: 1,
                },
                1000: {
                    items: 1,
                }
            }
        });
    });
</script>
{% endblock %}